.App {
  text-align: center;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* .component {
  margin: 50px 200px;
} */
/* h1 {
  margin-bottom: 50px;
}
b {
  margin: 0 30px 0 0;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
