.navbar {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}
.navbar img {
  width: 200px;
}
.navbar nav li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 30px;
}
