form{
    border: solid 1px black;
    padding: 30px 30px 10px 30px;
}
.fruits-form div {
    text-align: left;
    margin-bottom: 10px;
}
.fruits-form input{
    padding: 4px 50px 4px 0;
}
.fruits-form__button{
    padding: 20px;
}