.student-table__header{
  background-color: #4f005f;
  color: white;
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 10px;
  box-shadow: 0 0.2em #69017e, 0 0.3em rgba(41, 39, 39, 0.747);
}
.students-table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 5px 10px;
}
.students-table th,.students-table td{
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.students-table th{
  background-color: #4f005f;
  color: white;
  box-shadow: 0 0.1em #69017e, 0 0.2em rgba(41, 39, 39, 0.747);
}
.students-table td{
  background-color:white;
  color: black;
}