.students-table table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 5px 10px;
}
.students-table th,
.students-table td {
  padding: 10px 5px;
  border-radius: 5px;
  border: 2px solid white;
}
.students-table th {
  background-color: black;
  color: white;
  box-shadow: 0 0.1em rgb(214, 211, 211), 0 0.2em rgba(41, 39, 39, 0.747);
}
.students-table td {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
}
.go-form{
  margin: 0;
  padding: 0;
}
.go-form Button{
  width: 15%;
  padding: 10px;
  margin: 0px 250px 30px;
}
