body {
    background-image: url('./pattern.jpg');
    margin: 0;
}
h2,h5,h1 {
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover{
    color: blue;
}
/* navbar */
header {
    width:100%;
    background-color: #fcfcfe;
    position: fixed;
    top: 0;
    padding: 2px 20px;
}
nav {
    /* display: inline-block; */
    float: right;
    padding: 0 50px;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline;
    padding: 8px;
}
/* section */
section{
    background-color: #fcfcfe;
    margin: 100px 150px 20px;
    padding: 40px 80px;
}
.back {
    margin: 5px 150px 10px;
}
/* form contact*/
.form {
    margin: 0 auto;
}
fieldset {
    padding: 20px 40px;
}
p:first-of-type input,p:nth-of-type(2) input {
    width: 300px;
    height: 30px;
}
p:first-of-type input {
    margin: 0 75px;
}
p:nth-of-type(2) input {
    margin: 0 70px;
}
p:nth-of-type(3) input {
    margin: 0px 5px 0px 120px ;
}
textarea{
    margin: 0 39px;
    height: 40px;
    width: 300px;
}
.kirim{
    margin: 20px 0px;
    width: 50px;
    height: 30px;
}
/* footer */
h5 {
    color: white;
}
footer {
    background-color: black;
    padding: 1px;
}