.button {
  font: inherit;
  border: 1px solid #4f005f;
  color: white;
  background: #4f005f;
  box-shadow: 0 0.1em #69017e, 0 0.2em rgba(0, 0, 0, 0.26);
  cursor: pointer;
  /* width: 40%; */
  border-radius: 5px;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
