.student-form {
  border: solid 1px black;
  padding: 30px 30px 10px 30px;
}
.student-form div {
  text-align: left;
  margin-bottom: 10px;
}
.student-form input {
  padding: 4px 50px 4px 0;
  margin-left: 30px;
}
.student-form__button {
  padding: 20px;
}
.student-form.invalid label {
  color: red;
}
.student-form.invalid input {
  background: rgb(235, 186, 181);
  border-color: red;
}
