td button {
  padding: 4px 1px;
  border: 1px solid black;
  color: white;
  background: black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  width: 40%;
  border-radius: 5px;
}
span{
    padding: 0 5px;
}