.students-form__header{
    border-radius: 10px;
    background-color: #4f005f;
    padding: 1px;
    margin:30px 0 10px;
    color: white;
    box-shadow: 0 0.2em #69017e, 0 0.3em rgba(41, 39, 39, 0.747);
}