.student-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.student-form div {
  text-align: left;
  margin-bottom: 10px;
}
.student-form input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.student-form button {
  padding: 13px;
  border: 1px solid #4f005f;
  color: white;
  background: #4f005f;
  box-shadow: 0 0.1em #69017e, 0 0.2em rgba(0, 0, 0, 0.26);
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
.student-form.invalid label {
  color: red;
}
.student-form.invalid input {
  background: rgb(233, 201, 197);
  border-color: red;
}